<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WebGIS</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title">
      <h1>WebGIS</h1>
    </div>
    <div class="subtitle">
      <p>WebGIS pemetaan bangunan pendidikan dan ekonomi terhadap potensi kerusakan saat terjadi gempa bumi.</p>
      <p>
        Pemetaan peta dapat dilihat pada <a href="{{ route('dashboard.index') }}">halaman</a> berikut.
      </p>
    </div>
  </section>
</body>
</html>
